@import '../../commons/styles.module.scss';

.container{
    min-width: auto;
    min-height: 85vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .formField{
        display: flex;
        flex-direction: column;
        align-items: c;
        width: 500px;
        background-color: $light-gray;
        border-radius: 10px;
        
        .header{
            h1{
                color: #fff;
                line-height: 1em;
            }

            h4 {
                color: #fff;
                font-size: 21px;
            }

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $active3;
            border-radius: 10px 10px 0 0;
        }

        .form {
            .input {
                color: rgb(75, 68, 68);
                border: 5;
                border-color: $active3;
                padding: 10px;
                font-size: 15px;
            }

            .formSubmit {
                background-color: $active3;
            }
        }
    }
}
