@import '../../commons/styles.module.scss';

.outlet{
    padding: 10px 40px;
}


.container {
    background-color: $light-gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;


    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;

        h1{
            margin-left: 20px;
        }
    }

    .content {
        .menu {
            display: flex;
            font-size: large;
            justify-content: space-around;
            align-items: center;
            gap: 20px;

            a {
                color: $active3
            }
        }
    }


    h1{
        color: $active3;
    }
}
